body {
	background-color: grey;
}

.navbar {
	height: 70px;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20%;
	margin-right: 20%;
}

.logo {
	width: 200px;
}

.icon_element {
	margin-top: 1vw;
	width: 30px;
	margin-right: 15px;
}

.profile_element {
	margin-top: 1vw;
	width: 40px;
	margin-left: 1vw;
	margin-bottom: 1vw;
}

.search-container {
	margin-top: 1vw;
}

.story_container {
	background-color: white;
	height: 150px;
	margin-left: 20%;
	margin-right: 40%;
}

.post_container {
	background-color: white;
	height: 700px;
	margin-left: 20%;
	margin-right: 40%;
	display: flex;
	flex-direction: column;
}

.profile_informations {
	display: flex;
	flex-direction: row;
}

.pseudo {
	margin-left: 20px;
	margin-top: 30px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	text-decoration: inherit;
}